[package]
name = "jet1090"
description = "A real-time comprehensive Mode S and ADS-B data decoder"
repository = "https://github.com/xoolive/rs1090"
keywords = ["aircraft", "ADS-B", "Mode-S", "decoding"]
readme = "readme.md"
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true

[features]
rtlsdr = ['rs1090/rtlsdr']
sero = ['rs1090/sero']

[dependencies]
chrono = "0.4.37"
clap = { version = "4.5.23", features = ["color", "derive", "wrap_help"] }
clap_complete = "4.5.40"
clap_complete_nushell = "4.5.4"
crossterm = { version = "0.28.1", features = ["event-stream"] }
deku = "0.18.1"
dirs = "5.0.1"
dotenv = "0.15.0"
futures = "0.3.31"
futures-util = "0.3.31"
hex = "0.4.3"
keepawake = "0.5.1"
ratatui = "0.29.0"
redis = { version = "0.27.6", features = ["tokio-comp"] }
reqwest = "0.12.9"
rs1090 = { version = "0.4.1", path = "../rs1090" }
rusqlite = { version = "0.32.1", features = ["bundled"] }
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.134"
soapysdr = { version = "0.4.1", optional = true }
tokio = { version = "1.42.0", features = ["full"] }
toml = "0.8.19"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
url = "2.5.4"
warp = "0.3.6"
zip = "2.2.2"

[[bin]]
name = "jet1090"
path = "src/main.rs"
