[package]
name = "jet1090"
description = "Real-time Mode S and ADS-B data with REST and ZMQ endpoints"
repository = "https://github.com/xoolive/rs1090"
keywords = ["aircraft", "ADS-B", "Mode-S", "decoding"]
readme = "readme.md"
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true

[features]
rtlsdr = ['rs1090/rtlsdr']

[dependencies]
chrono = "0.4.37"
clap = { version = "4.5.15", features = ["color", "derive", "wrap_help"] }
clap_complete = "4.5.8"
crossterm = { version = "0.27.0", features = ["event-stream"] }
deku = "0.16.0"
dirs = "5.0.1"
dotenv = "0.15.0"
futures = "0.3.30"
futures-util = "0.3.30"
hex = "0.4.3"
ratatui = "0.27.0"
reqwest = "0.12.5"
rs1090 = { version = "0.2.5", path = "../rs1090" }
rusqlite = { version = "0.32.1", features = ["bundled"] }
serde = { version = "1.0.206", features = ["derive"] }
serde_json = "1.0.122"
soapysdr = { version = "0.4.0", optional = true }
tokio = { version = "1.39.2", features = ["full"] }
toml = "0.8.19"
warp = "0.3.6"
zip = "2.1.6"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }


[[bin]]
name = "jet1090"
path = "src/main.rs"
