[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.28.0"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell", "homebrew"]
# A GitHub repo to push Homebrew formulas to
tap = "xoolive/homebrew-homebrew"
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-gnu",
    "x86_64-pc-windows-msvc",
]
# Which actions to run on pull requests
pr-run-mode = "plan"
# Publish jobs to run in CI
publish-jobs = ["homebrew"]
# Whether to pass --all-features to cargo build
all-features = true
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = true
# install dependencies for Windows
# https://opensource.axo.dev/cargo-dist/book/ci/customizing.html#customizing-build-setup
github-build-setup = "../release_setup.yml"

[dist.dependencies.apt]
libssl-dev = "*"
libsoapysdr-dev = "*"
soapysdr-module-rtlsdr = "*"
protobuf-compiler = "*"

[dist.dependencies.homebrew]
soapysdr = { stage = ["build", "run"] }
soapyrtlsdr = { stage = ["run"] }
protobuf = { stage = ["build"] }

[dist.github-custom-runners]
aarch64-apple-darwin = "macos-14"
x86_64-unknown-linux-gnu = "ubuntu-22.04" # libssl version 1.1.1
