[package]
name = "rs1090"
description = "Rust library to decode Mode S and ADS-B signals"
repository = "https://github.com/xoolive/rs1090"
keywords = ["aircraft", "ADS-B", "Mode-S", "decoding"]
readme = "readme.md"
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true

[features]
rtlsdr = ['soapysdr']

[dependencies]
ansi_term = "0.12.1"
async-stream = "0.3.5"
deku = "0.16.0"
futures = "0.3.30"
futures-util = "0.3.30"
hex = "0.4.3"
libm = "0.2.8"
num-complex = "0.4.5"
once_cell = "1.19.0"
rayon = "1.9.0"
regex = "1.10.3"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
soapysdr = { version = "0.4.0", optional = true }
tokio = { version = "1.36.0", features = ["full"] }

[dev-dependencies]
approx = "0.5.1"
criterion = "0.5.1"
hexlit = "0.5.5"

[[bench]]
name = "long_flight"
harness = false

[[example]]
name = "decode_basic"
path = "examples/basic.rs"
test = false

[[example]]
name = "decode_file"
path = "examples/flight.rs"
test = false

# [[example]]
# name = "tcas_incidents"

[[example]]
name = "airports"
