name: build docs

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
      - "mkdocs.yml"

permissions:
  contents: write

jobs:
  deploy:
    # if: startsWith(github.ref, 'refs/tags/') # only deploy pages on release tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Build the site
        run: |
          uvx --with "mkdocs-material[imaging]" mkdocs build -d site

      - name: Deploy pages to www.mode-s.org/jet1090
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: open-aviation/jet1090
          publish_branch: gh-pages
          publish_dir: site/
