name: "Nix build"
on:
  pull_request:
  push:
  schedule:
    - cron: "0 0 1 * *" # Runs at midnight UTC on the 1st of every month

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Run `nix build`
        run: nix build

  nix-flake-update:
    if: github.event_name == 'schedule'
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          base: ${{ github.base_ref || 'master' }}
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
