name: Python

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  python:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-22.04
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        working-directory: python
        run: uv sync --all-extras --dev --python ${{ matrix.python-version }}

      - name: Build the wrapper
        uses: PyO3/maturin-action@v1
        with:
          working-directory: python
          command: develop
          args: -E dev
          sccache: "true"

      - name: Run linter and formatter
        working-directory: python
        run: |
          uv run ruff check
          uv run ruff format --check

      - name: Run tests
        working-directory: python
        run: |
          uv run pytest
