name: rust

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: Code linting
      run: cargo clippy --workspace --all-targets --all-features -- -D warnings

    - name: Code formatting
      run: cargo fmt --all --check

    - name: Build
      run: cargo build --verbose --release

    - name: Run tests, examples and benchmarks
      run: cargo test --workspace --all-features --all-targets

    - name: Check docs
      env:
        RUSTDOCFLAGS: "-D rustdoc::all -A rustdoc::private-doc-tests"
      run: cargo doc --all-features --no-deps
