name: WebAssembly

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          registry-url: "https://registry.npmjs.org"
      - name: Install wasm-pack
        run: |
          cargo install wasm-pack
      - uses: extractions/setup-just@v3
      - name: Build WASM
        working-directory: crates/rs1090-wasm
        run: |
          just pkg
      - name: Run tests
        working-directory: crates/rs1090-wasm/tests
        run: |
          npm install
          npm test
      - name: Publish to npm (upon release)
        if: startsWith(github.ref, 'refs/tags/')
        working-directory: crates/rs1090-wasm/pkg
        # The token is no longer necessary because there is a trusted connection
        # https://docs.npmjs.com/trusted-publishers
        # env:
        #   NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm publish
